
:root {
	--mainColor: #ffffff;
	--mainColorLight: #5767aa;
	--secondaryColor: #000000;
	--textColor: #6e7383;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
	border: 2px solid #eff1f1;
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
		transform: translateY(-100vh);
	}

	header .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
 
}

.icon-header{
	font-size: 60px;
	color: #4d44e5;
}

.icon-drop{
	font-size: 20px;
	color: #4d44e5;
	padding-right: 20px;
}

.icon-respon{
	font-size: 30px;
	color: #8d929c;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 300px;
  box-shadow: 0px 13px 16px 0px #00000033;
  z-index: 1;
//   padding: 0rem 1rem 1rem 2.5rem;
  padding: 0rem 1rem 1rem 2rem;


  .h1 {
    font-size: 15px;
	color: #000000;
    text-align: justify;
	margin-top: 20px;
  }
  
  p {
    font-size: 12px;
    text-align: justify;
    line-height: 25px;
    color: #8d929c;
	margin: 0;
	padding-left: 35px;
  }

  p:hover {
	cursor: pointer;
	color: #4d44e5;
  }
  
}

.dropdown:hover .dropdown-content {
  display: block;

}

.button-head {
	background-color: #4d44e5; /* Green */
	color: white;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
	float: right;
  }







